@charset "ISO-8859-1";

.option-label, .panier:hover, .fd-link:hover{
	color:white!important;
}

.color-0{
	color:#dc3545!important;
}

.color-1{
	color:#dc3545!important;
}

.color-2{
	color:#fd7e14!important;
}

.color-3{
	color: #ffc107!important;
}

.color-4{
	color:#20c997!important;
}

.color-5{
	color:#198754!important;
}